<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itssky.modules.particle.mapper.ParticleTableColumnMapper">

    <resultMap type="ParticleTableColumn" id="ParticleTableColumnResult">
        <result property="columnId" column="column_id"/>
        <result property="tableId" column="table_id"/>
        <result property="columnName" column="column_name"/>
        <result property="columnComment" column="column_comment"/>
        <result property="columnType" column="column_type"/>
        <result property="javaType" column="java_type"/>
        <result property="javaField" column="java_field"/>
        <result property="isPk" column="is_pk"/>
        <result property="isIncrement" column="is_increment"/>
        <result property="isRequired" column="is_required"/>
        <result property="isInsert" column="is_insert"/>
        <result property="isEdit" column="is_edit"/>
        <result property="isList" column="is_list"/>
        <result property="isQuery" column="is_query"/>
        <result property="isDetail" column="is_detail"/>
        <result property="queryType" column="query_type"/>
        <result property="htmlType" column="html_type"/>
        <result property="dictType" column="dict_type"/>
        <result property="sort" column="sort"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="roleId" column="role_id"/>
        <result property="span" column="span"/>
    </resultMap>

    <sql id="selectParticleTableColumnVo">
        select column_id, table_id, column_name, column_comment, column_type, java_type, java_field, is_pk, is_increment, is_required, is_insert, is_edit, is_list, is_query, is_detail, query_type, html_type, dict_type, sort, create_by, create_time, update_by, update_time, role_id,span from particle_table_column
    </sql>

    <select id="selectParticleTableColumnList" parameterType="ParticleTableColumn"
            resultMap="ParticleTableColumnResult">
        <include refid="selectParticleTableColumnVo"/>
        <where>
            and del_flag='0'
            <if test="tableId != null  and tableId != ''">and table_id = #{tableId}</if>
            <if test="columnName != null  and columnName != ''">and column_name like concat('%', #{columnName}, '%')
            </if>
            <if test="columnComment != null  and columnComment != ''">and column_comment = #{columnComment}</if>
            <if test="columnType != null  and columnType != ''">and column_type = #{columnType}</if>
            <if test="javaType != null  and javaType != ''">and java_type = #{javaType}</if>
            <if test="javaField != null  and javaField != ''">and java_field = #{javaField}</if>
            <if test="isPk != null  and isPk != ''">and is_pk = #{isPk}</if>
            <if test="isIncrement != null  and isIncrement != ''">and is_increment = #{isIncrement}</if>
            <if test="isRequired != null  and isRequired != ''">and is_required = #{isRequired}</if>
            <if test="isInsert != null  and isInsert != ''">and is_insert = #{isInsert}</if>
            <if test="isEdit != null  and isEdit != ''">and is_edit = #{isEdit}</if>
            <if test="isList != null  and isList != ''">and is_list = #{isList}</if>
            <if test="isQuery != null  and isQuery != ''">and is_query = #{isQuery}</if>
            <if test="isDetail != null  and isDetail != ''">and is_detail = #{isDetail}</if>
            <if test="queryType != null  and queryType != ''">and query_type = #{queryType}</if>
            <if test="htmlType != null  and htmlType != ''">and html_type = #{htmlType}</if>
            <if test="dictType != null  and dictType != ''">and dict_type = #{dictType}</if>
            <if test="sort != null ">and sort = #{sort}</if>
            <if test="roleId != null ">and role_id = #{roleId}</if>
            <if test="span != null  and span != ''">and span = #{span}</if>
        </where>
    </select>

    <select id="selectParticleTableColumnById" parameterType="Long" resultMap="ParticleTableColumnResult">
        <include refid="selectParticleTableColumnVo"/>
        where column_id = #{columnId}
    </select>

    <select id="selectParticleTableColumnListByTableId" parameterType="Long" resultMap="ParticleTableColumnResult">
        <include refid="selectParticleTableColumnVo"/>
        where table_id = #{tableId}
        order by sort
    </select>

    <select id="selectDbTableColumnsByName" parameterType="String" resultMap="ParticleTableColumnResult">
		select column_name, (case when (is_nullable = 'no' <![CDATA[ && ]]> column_key != 'PRI') then '1' else null end) as is_required, (case when column_key = 'PRI' then '1' else '0' end) as is_pk, ordinal_position as sort, column_comment, (case when extra = 'auto_increment' then '1' else '0' end) as is_increment, column_type
		from information_schema.columns where table_schema = (select database()) and table_name = (#{tableName})
		order by ordinal_position
	</select>

    <insert id="insertParticleTableColumn" parameterType="ParticleTableColumn" useGeneratedKeys="true"
            keyProperty="columnId">
        insert into particle_table_column
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tableId != null">table_id,</if>
            <if test="columnName != null">column_name,</if>
            <if test="columnComment != null">column_comment,</if>
            <if test="columnType != null">column_type,</if>
            <if test="javaType != null">java_type,</if>
            <if test="javaField != null">java_field,</if>
            <if test="isPk != null">is_pk,</if>
            <if test="isIncrement != null">is_increment,</if>
            <if test="isRequired != null">is_required,</if>
            <if test="isInsert != null">is_insert,</if>
            <if test="isEdit != null">is_edit,</if>
            <if test="isList != null">is_list,</if>
            <if test="isQuery != null">is_query,</if>
            <if test="isDetail != null">is_detail,</if>
            <if test="queryType != null">query_type,</if>
            <if test="htmlType != null">html_type,</if>
            <if test="dictType != null">dict_type,</if>
            <if test="sort != null">sort,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="roleId != null">role_id,</if>
            <if test="span != null">span,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="tableId != null">#{tableId},</if>
            <if test="columnName != null">#{columnName},</if>
            <if test="columnComment != null">#{columnComment},</if>
            <if test="columnType != null">#{columnType},</if>
            <if test="javaType != null">#{javaType},</if>
            <if test="javaField != null">#{javaField},</if>
            <if test="isPk != null">#{isPk},</if>
            <if test="isIncrement != null">#{isIncrement},</if>
            <if test="isRequired != null">#{isRequired},</if>
            <if test="isInsert != null">#{isInsert},</if>
            <if test="isEdit != null">#{isEdit},</if>
            <if test="isList != null">#{isList},</if>
            <if test="isQuery != null">#{isQuery},</if>
            <if test="isDetail != null">#{isDetail},</if>
            <if test="queryType != null">#{queryType},</if>
            <if test="htmlType != null">#{htmlType},</if>
            <if test="dictType != null">#{dictType},</if>
            <if test="sort != null">#{sort},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="roleId != null">#{roleId},</if>
            <if test="span != null">#{span},</if>
        </trim>
    </insert>

    <update id="updateParticleTableColumn" parameterType="ParticleTableColumn">
        update particle_table_column
        <set>
            column_comment = #{columnComment},
            java_type = #{javaType},
            java_field = #{javaField},
            is_insert = #{isInsert},
            is_edit = #{isEdit},
            is_list = #{isList},
            is_query = #{isQuery},
            is_required = #{isRequired},
            is_detail = #{isDetail},
            query_type = #{queryType},
            html_type = #{htmlType},
            dict_type = #{dictType},
            span = #{span},
            sort = #{sort},
            update_by = #{updateBy},
            update_time = sysdate()
        </set>
        where column_id = #{columnId}
    </update>

    <delete id="deleteParticleTableColumnById" parameterType="Long">
        delete from particle_table_column where column_id = #{columnId}
    </delete>

    <delete id="deleteParticleTableColumnByIds" parameterType="String">
        delete from particle_table_column where column_id in
        <foreach item="columnId" collection="array" open="(" separator="," close=")">
            #{columnId}
        </foreach>
    </delete>

    <delete id="deleteParticleTableColumnByTableIds" parameterType="String">
        delete from particle_table_column where table_id in
        <foreach item="tableId" collection="array" open="(" separator="," close=")">
            #{tableId}
        </foreach>
    </delete>

    <update id="deleteLogicParticleTableColumnById" parameterType="Long">
        update particle_table_column
        set del_flag='1'
        where column_id = #{columnId}
    </update>

    <update id="deleteLogicParticleTableColumnByIds" parameterType="Long">
        update particle_table_column
        set del_flag='1'
        where column_id in
        <foreach item="columnId" collection="array" open="(" separator="," close=")">
            #{columnId}
        </foreach>
    </update>
</mapper>