<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itssky.modules.common.security.mapper.SysGroupMapper">

	<resultMap type="SysGroup" id="SysGroupResult">
		<id     property="postId"        column="post_id"       />
		<result property="postCode"      column="post_code"     />
		<result property="postName"      column="post_name"     />
		<result property="postSort"      column="post_sort"     />
		<result property="status"        column="status"        />
		<result property="createBy"      column="create_by"     />
		<result property="createTime"    column="create_time"   />
		<result property="updateBy"      column="update_by"     />
		<result property="updateTime"    column="update_time"   />
		<result property="remark"        column="remark"        />
	</resultMap>
	
	<sql id="selectGroupVo">
        select post_id, post_code, post_name, post_sort, status, create_by, create_time, remark 
		from sys_post
    </sql>
	
	<select id="selectGroupList" parameterType="SysGroup" resultMap="SysGroupResult">
	    <include refid="selectGroupVo"/>
		<where>
			<if test="groupCode != null and groupCode != ''">
				AND post_code like concat('%', #{postCode}, '%')
			</if>
			<if test="status != null and status != ''">
				AND status = #{status}
			</if>
			<if test="groupName != null and groupName != ''">
				AND post_name like concat('%', #{postName}, '%')
			</if>
		</where>
	</select>
	
	<select id="selectGroupAll" resultMap="SysGroupResult">
		<include refid="selectGroupVo"/>
	</select>
	
	<select id="selectGroupById" parameterType="Long" resultMap="SysGroupResult">
		<include refid="selectGroupVo"/>
		where post_id = #{postId}
	</select>
	
	<select id="selectGroupListByUserId" parameterType="Long" resultType="Integer">
		select p.post_id
        from sys_post p
	        left join sys_user_post up on up.post_id = p.post_id
	        left join sys_user u on u.user_id = up.user_id
	    where u.user_id = #{userId}
	</select>
	
	<select id="selectGroupsByUserName" parameterType="String" resultMap="SysGroupResult">
		select p.post_id, p.post_name, p.post_code
		from sys_post p
			 left join sys_user_post up on up.post_id = p.post_id
			 left join sys_user u on u.user_id = up.user_id
		where u.user_name = #{userName}
	</select>
	
	<select id="checkGroupNameUnique" parameterType="String" resultMap="SysGroupResult">
		<include refid="selectGroupVo"/>
		 where post_name=#{postName} limit 1
	</select>
	
	<select id="checkGroupCodeUnique" parameterType="String" resultMap="SysGroupResult">
		<include refid="selectGroupVo"/>
		 where post_code=#{postCode} limit 1
	</select>


</mapper> 